################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FarmSystem.Test1/obj/Debug
/.vs/Emydex.FarmSystem.Test/v15/Server/sqlite3
/FarmSystem.Test1/bin/Debug
/FarmSystem.Test1/obj/Release
/.vs/Emydex.FarmSystem.Test
/Farm.Tests/bin/Debug
/Farm.Tests/obj/Debug
/FarmTests/obj
/packages
/Farm.UnitTests/bin/Debug
/Farm.UnitTests/obj
